@page "/stockInfo"
@using Models
@inject Models.StockService stockService
<h3>StockInformation Page</h3>

@if (enteredTicket != String.Empty)
{
    if (StocksStoredInDb.FirstOrDefault(s => s.Ticket == enteredTicket) != null)
    {
        <button @onclick="@AddOrUpdate">Update @enteredTicket.ToUpper() record in DB</button>
    }
    else
    {
        <button @onclick="@AddOrUpdate">Add @enteredTicket.ToUpper() To DB</button>
    }
}
else
{
<button>Enter ticket →</button>
}

<input placeholder="Ticket" @bind-value="enteredTicket" />

<p>Answer from DB Service: @DbStoringStatus</p>
@if (enteredTicket == String.Empty)
{
    <p>Provide ticket to input box</p>
}
else
{
    <p>@GetPrice(enteredTicket) @currency</p>
    @if (enteredTicket != String.Empty)
    {
        <p>Entered Value: @((enteredTicket).ToUpper()) — @companyname</p>
    }
}



@code {
    List<Stock> StocksStoredInDb = new();
    protected override async void OnInitialized()
    {
        StocksStoredInDb = await stockService.GetAllStocksAsync();
    }

    string DbStoringStatus = "waiting for answer";


    private async Task<bool> AddOrUpdate()
    {
        Stock stockStoredInDb = StocksStoredInDb.FirstOrDefault(s => s.Ticket == enteredTicket);
        if (stockStoredInDb != null)
        {
            stockStoredInDb.Price = price;
            stockStoredInDb.LastUpdate = DateTime.Now;
            bool status = await stockService.UpdateStockAsync(stockStoredInDb);
            if (status == true)
            {
                DbStoringStatus = $"succescfully updated {companyname}!";
            }
            return status;
        }
        else
        {
            try
            {
                bool status = await stockService.InsertStockAsync(new Stock
                {
                    CompanyName = companyname,
                    Currency = currency,
                    Price = price,
                    Ticket = enteredTicket,
                    LastUpdate = DateTime.Now
                });

                if (status == true)
                {
                    DbStoringStatus = $"succescfully stored {companyname}!";
                }
                return status;
            }
            catch
            {
                DbStoringStatus = "Error";
                return false;
            }
        }
    }

    string enteredTicket = "";
    string companyname = "";
    string price = "";
    string currency = "";

    private string GetPrice(string ticket)
    {
        companyname = "";
        var html = @$"https://finance.yahoo.com/quote/{ticket}";
        HtmlWeb web = new HtmlWeb();
        var htmlDoc = web.Load(html);
        var PriceValue = htmlDoc.DocumentNode.SelectSingleNode("//span[@class='Trsdu(0.3s) Fw(b) Fz(36px) Mb(-4px) D(ib)']");
        var CompanyName = htmlDoc.DocumentNode.SelectSingleNode("//h1[@class='D(ib) Fz(18px)']");
        HtmlNode CurrencyString = htmlDoc.DocumentNode.SelectSingleNode("//span[@data-reactid='9']");
        while (CurrencyString == null)
        {
            htmlDoc = web.Load(html);
            CurrencyString = htmlDoc.DocumentNode.SelectSingleNode("//span[@data-reactid='9']");
        }
        Regex regex = new Regex(@"\w*$");
        currency = (regex.Match(CurrencyString.InnerText).Value);
        if (CompanyName != null)
        {
            companyname = HttpUtility.HtmlDecode(CompanyName.InnerText);
        }
        if (PriceValue != null)
        {
            price = PriceValue.InnerText;
            return (PriceValue.InnerText);
        }
        else
        {
            return "Not found";
        }
    }

}